<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member-create</title>

</head>
<body >
<div th:replace="member/header :: headerFragment"></div>
<form action="/member/create" method="post" style="padding: 20px">
    <label> for Member create
        <p>이름 : </p><input name="name" type="text">
        <p>이메일 : </p><input name="email" type="text">
        <p>비밀번호 : </p><input name="password" type="text">
    </label>
    <p><button type="submit">Submit</button></p>
</form>


</body>
</html>