<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member-Detail</title>
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
            margin:5px;
            padding: 20px;
        }
        th, td {
            border: 1px solid black;
            padding:10px;
        }
    </style>
</head>
<body>
<div th:replace="member/header :: headerFragment"></div>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>이메일</th>
        <th>비밀번호</th>
        <th>가입시간</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <span th:text="${detail.getName()}"></span>
        </td>
        <td>
            <span th:text="${detail.getEmail()}"></span>
        </td>
        <td>
            <span th:text="${detail.getPassword()}"></span>
        </td>
        <td>
            <span th:text="${detail.getCreate_time()}"></span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>