<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member-Detail</title>
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
            margin:5px;
            padding: 20px;
        }
        th, td {
            border: 1px solid black;
            padding:10px;
        }

    </style>
</head>
<body>
<div th:replace="member/header :: headerFragment"></div>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>이메일</th>
        <th>비밀번호</th>
        <th>가입일시</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <span th:text="${detail.getName()}"></span>
        </td>
        <td>
            <span th:text="${detail.getEmail()}"></span>
        </td>
        <td>
            <span th:text="${detail.getPassword()}"></span>
        </td>
        <td>
            <span th:text="${detail.getCreate_time()}"></span>
        </td>
    </tr>
    </tbody>
</table>

        <button onclick="display()">수정</button>

    <a th:href="@{/member/delete(id=${detail.getId()})}">
        <button> 삭제 </button>
    </a>


<div id="update-form" style="display: none">
<form action="/member/update" method="post" style="padding: 150px">
    <label> Update
        <p>아이디 : </p><input name="id" type="text" th:value="${detail.getId()}" readonly>
        <p>이름 : </p><input name="name" type="text" th:value="${detail.getName()}">
        <p>이메일 : </p><input name="email" type="text" th:value="${detail.getEmail()}" readonly>
        <p>비밀번호 : </p><input name="password" type="text" th:value="${detail.getPassword()}">
    </label>
    <p><button type="submit">Submit</button></p>
</form>
</div>
</body>
<script>

    function display() {
        document.getElementById("update-form").style.display = "block";
    }


</script>



</html>