<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello-json-screen</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<form id="myFrom">
    <label> JSON-SCREEN
        <p>이름: </p><input id="name" type="text">
        <p>이메일: </p><input id="email" type="text">
        <p>비밀번호: </p><input id="password" type="text">
    </label>
    <p><button type="button" onclick="sendData()">제출</button></p>
</form>
<script>
    async function sendData(){
        const jsonData = {
            name: document.getElementById("name"),
            email: document.getElementById("email"),
            password: document.getElementById("password"),
        };

        const reponse = await axios({
            method: 'POST',
            url: "http://localhost:8080/hello/json-post-handle",
            data: JSON.stringify(jsonData),
            header: {'Content-type': 'application/json'}
        });
    }
</script>
</body>
</html>